<input type='radio' name='way' value='twitter'>twitter<br>
<input type='radio' name='way' value='text'>text<br>
<input type='radio' name='way' value='email'>email<br>
to: <input type='text' id='to'><br>
message: <input type='text' id='msg'><br>
<input type='button' id='button' value='go'>

<div id='pirates'></div>