<input type='radio' value='twitter'>
<input type='radio' value='text'>
<input type='radio' value='email'>
<input type='text' id='to'>
<input type='button' id='pirate_create' value='Create Pirate'>

<div id='pirates'></div>

